<div class="container">
	<div class="row" style="padding-top: 50px; padding-bottom: 50px;">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
			        <div class="panel-title">
					    Edit vacancy
					</div>
				</div>
				<%= render 'form', vacancy: @vacancy %>
			</div>

			<%= link_to my_vacancies_path do %>
				<div class="btn btn-default"><< Back to vacancies</div>
			<% end %>
		</div>
	</div>
</div>
